.app {
  margin: 0;


}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(12, 0, 210);
  background: linear-gradient(90deg, rgba(12, 0, 210, 1) 0%, rgba(86, 86, 255, 1) 50%, rgba(0, 144, 255, 1) 100%);

}

.home-header {
  font-size: 50px;
  color: white;

}

#input-message {
  height: 5vh;
  border-radius: 15px;
  border: 2px solid black;
  color: black;
  padding: 0 10px 0;
}

.dining-page {
  height: 100vh;
  width: 100vw;
}

.dining-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  height: 200px;
  width: 200px;
}

.card {
  height: fit-content;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dining-rating {
  margin-top: -2vh;
}

.dining-user-options {
  display: flex;
  flex-direction: row;
}


.comment {
  text-decoration: underline;
  cursor: pointer;
}

.leave-comment {
  margin-left: 20px;
}