.app {
  margin: 0;


}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(12, 0, 210);
  background: linear-gradient(90deg, rgba(12, 0, 210, 1) 0%, rgba(86, 86, 255, 1) 50%, rgba(0, 144, 255, 1) 100%);

}

.home-header {
  font-size: 50px;
  color: white;

}

#input-message {
  height: 5vh;
  border-radius: 15px;
  border: 2px solid black;
  color: black;
  padding: 0 10px 0;
  width: 200px;
}

.dining-page {
  height: 100%;
  width: 100%;
}

.dining-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

img {
  height: 200px;
  width: 200px;
}

.dining-hall-card {
  height: fit-content;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  flex: 1 0 30%;
  margin: 10px 10px 10px 10px;
}

.dining-rating {
  margin-top: -2vh;
}

.dining-user-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.comment {
  text-decoration: underline;
  cursor: pointer;
}

.dining-comments {
  background: #D9D9D9;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: none;
}

.comments {
  position: relative;
  margin: 1px;
}

.leave-comment {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

#magnifying-glass {
  margin-left: 10px;
}

.comment-card {
  margin-top: 5px;
  border-radius: 10px;
  background: #D9D9D9;
  padding: 15px;
  display: none;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

#comment-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
}

#submit {
  background: #748AFF;
  font-weight: bold;
  border-radius: 5px;
}