.app {
  margin: 0;


}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(12, 0, 210);
  background: linear-gradient(90deg, rgba(12, 0, 210, 1) 0%, rgba(86, 86, 255, 1) 50%, rgba(0, 144, 255, 1) 100%);

}

.home-header {
  font-size: 50px;
  color: white;

}

#input-message {
  height: 5vh;
  border-radius: 15px;
  border: 2px solid black;
  color: black;
  padding: 0 10px 0;
}